 *{
    margin:0px;
    padding:0px;
   
}
.logo{
    width: 80px;
    height: 80px;
    margin-top:5em;   
}
.land{
    /* background-color: #f0fff0; */
    background-image: url(../../images/landing-image.jpeg);
    background-size: cover;
    height: 100vh;   
    background-color: white;
}
.sign{
    width: 90px;
    height: 40px;
    color: #009048;
    background-color: #f0fff0;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: bolder;
}

/* .log{
    width: 90px;
    height: 40px;
    border: 2px solid darkgreen;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight:bolder;
} */
.menu{
    display: flex;
    justify-content:space-between;  
    /* border: 1px solid blue; */
    height: 60px;
    margin-left: 3em;
    margin-right: 3em;
    
    
    

}
.button{
    margin-top:5em;

}
.mission{
    border: 1px solid #009048;
    border-radius: 10px;
    width: 500px;
    height: 43vh;
    font-size: 21px;
    margin-right: 5em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
/* .mission :hover{
    border-radius: 10px;
    width: 500px;
    height: 43vh;
    font-size: 21px;
    margin-right: 5em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #29AB87;
} */
.vision{
    border: 1px solid #009048;
    border-radius: 10px;
    width: 500px;
    height: 43vh;
    font-size: 21px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    
    
}
.text{
    display: flex;
    /* justify-content:space-evenly; */
    margin-left: 13em;
    margin-top: -3em;
    
    


}
.text :hover{
    background-color: #009048;
    color: #f0fff0;
    
}
.milk{
    /* border: 1px solid black; */
    height: 70px;
    margin-top: 70px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    
}
.span{
    /* font-weight:bold; */
    margin-left: 40%;
    font-size: 25px;
    
}

.pas1{
    color: #009048;
    font-weight: bold;
     /* text-shadow: 2px 0px 2px #29AB87; */
    
}
.icon{
    width: 40px;
    height: 40px;
    color: #009048;
    display: flex;
    margin-left: 45%;
    margin-top: 3vh;
    margin-bottom: 10px;
    /* border: 1px solid blue; */
}
.icon :hover{
    color: #f0fff0;
}
.mission p{
    width: 450px;
    height: 20vh;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-left: 25px;
    margin-top: 25px;
    font-size: 18px;
}
.vision p{
    width: 450px;
    height: 20vh;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-left: 25px;
    margin-top: 25px;
    font-size: 18px;
}