@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper{
    background-image: url('../src/images/cows.jpg');
    background-size: cover;
    
}

.validation-error {
    display: inline-block;
    padding: 8px;
    margin-top: 5px;
    background-color: #f8d7da; /* Light red background color */
    border: 1px solid #d73d4a; /* Dark red border color */
    color: #d73d4a; /* Dark red text color */
    border-radius: 4px;
    transition: all 0.3s ease; /* Add transition for smoother animation */
  }
  
  .validation-error:hover {
    background-color: #f5c6cb; /* Light red background color on hover */
  }
  